<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        Emotify - Welcome
    </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <style>
        .gradient {
            background: linear-gradient(90deg, #6950FF 0%, #51ff82 100%);
        }
    </style>
    <link rel="stylesheet" href="/assets/css/style.css" />

</head>

<body class="leading-normal tracking-normal gradient pt-24 h-screen">
    <%- include('header') %>

    <div class="container mx-auto">
        <div class="flex justify-center px-6 my-12">

            <div class="w-full lg:w-11/12 justify-center  flex">
                <div class="w-full lg:w-6/12 justify-center bg-white p-5 rounded-lg ">
                    <h3 class="pt-4 text-2xl text-center">Log in!</h3>
                    <% if(success_msg!= '') { %>
                    <p class="text-center"><%=success_msg %> </p>
                    <% } %>

                    <% if(error_msg != '') { %>
                    <p class="text-center text-red-400"><%= error_msg %> </p>
                    <% } %>
                    <% if(error != '') { %>
                    <p class="text-center text-red-400"><%= error %> </p>

                    <% } %>

                    <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" action="/login" method="POST">


                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                                Email
                            </label>
                            <input required name="email"
                                class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="email" type="email" placeholder="Email"
                                value="<%= typeof email != 'undefined' ? email : '' %>" />
                        </div>
                        <div class="w-full mb-4 md:mr-2 md:mb-0">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                                Password
                            </label>
                            <input required name="password"
                                class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="password" type="password" placeholder="******************"
                                value="<%= typeof password != 'undefined' ? password : '' %>" />
                        </div>

                        <div class="mb-6 text-center">


                            <button type="submit"
                                class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                Log in
                            </button>

                        </div>
                        <hr class="mb-6 border-t" />
                        <div class="text-center">
                            <a class="inline-block text-sm  align-baseline hover:text-blue-800" href="/passwordReset">
                                Forgot Password?
                            </a>
                        </div>
                        <div class="text-center">
                            <a class="inline-block text-sm blue-color align-baseline hover:text-blue-800"
                                href="/register">
                                Don't have an account? Register now!
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>