<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        Emotify - Welcome
    </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />

    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#loading").hide();

            $("#subscriptionButton").on('click', () => {
                $("#loading").slideDown();
            });
        });
    </script>
</head>

<body class="leading-normal tracking-normal gradient pt-24 h-screen">
    <%- include('appHeader') %>

    <div class="container mx-auto">
        <div class="flex flex-nowrap justify-center my-12">
            <div class="w-full justify-center flex flex-wrap md:flex-nowrap xl:w-1/4 lg:w-3/12 ">
                <div class=" w-full md:mr-2 justify-center bg-white p-5 mb-8 md:mb-0 rounded-lg">
                    <h1 class="pt-4 text-2xl text-center "></h1>

                    <h1 class="pt-4 text-2xl text-center">SUBSCRIPTION</h1>
                    <p class="text-center">Welcome <%= currentUser.firstName + " " + currentUser.lastName %></p>

                    <div class="gradient py-8 px-2 text-white text-center rounded">
                        <% if(subscriptionActive) { %>
                        <p class="text-center">(Active)</p>
                        <% } %>
                        <h1 class="bg-transparent text-3xl"><%= subscriptionExpirationDate %></h1>
                        <% if(!subscriptionActive) { %>
                        <h1 class="text-center text-red-400 font-bold">EXPIRED</h1>
                        <% } %>
                        <% if(subscriptionActive) { %>
                        <p class="text-center">Expiration Date</p>
                        <% } %>
                        <div class="w-full">
                            <lottie-player id="loading"
                                src="https://assets7.lottiefiles.com/private_files/lf30_lndg7fhf.json"
                                background="transparent" speed="2" style="width: 100px; height: 100px; margin: 0 auto;"
                                loop autoplay>
                            </lottie-player>
                            <form action="/company/subscription" method="GET">

                                <input type="hidden">
                                <button type="submit" id="subscriptionButton"
                                    class="mx-auto w-full text-center bg-white lg:mx-0 hover:underline blue-color text-white font-bold rounded-full mt-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                    <% if(subscriptionActive) { %>
                                    Add 30 Days (99€)
                                    <% } %>
                                    <% if(!subscriptionActive) { %>
                                    Add 30 Days from now (99€)
                                    <% } %>

                                </button> </form>
                            <img class="mb-2 text-center justify-center m-auto" src="/assets/images/payments.png">

                            <% if(success_msg!= '') { %>
                            <h1 class="text-center text-white"><%=success_msg %> </h1>
                            <% } %>

                            <% if(error_msg != '') { %>
                            <h1 class="text-center text-red-400"><%= error_msg %> </h1>
                            <% } %>
                        </div>
                    </div>


                    <hr class="mt-4">

                </div>
            </div>
            <div class="justify-center bg-white p-5 rounded-lg w-full xl:w-3/4 lg:w-9/12">
                <h1 class="pt-4 text-2xl text-center">DASHBOARD - VIDEO STATISTICS</h1>
                <p class="text-center"> Welcome <%= currentUser.firstName + " " + currentUser.lastName %>, here are
                    you're uploaded
                    videos and their statistics.</p>


                <% if(!isFilled) { %>
                <div class="w-full justify-center text-center">
                    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_LlRvIg.json"
                        background="transparent" speed="1" style="width: 300px; height: 300px; margin: 0 auto;" loop
                        autoplay>
                    </lottie-player>
                    <p class="text-center text-red-400 text-2xl mb-10"> You don't have any videos.</p>

                    <a href="/company/upload" id="uploadB"
                        class="mt-8 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                        Upload a video
                    </a>
                </div>
                <% } %>

                <div class="gap-4 grid my-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                    <% for (let i = 0 ;  i < videos.length ; i++) { %>

                    <div
                        class="w-full rounded-md shadow-md shadow-gray-200 hover:shadow-blue-400/80 hover:shadow-2xl hover:bg-gray-50 flex">
                        <div class="p-4 flex flex-col w-full">
                            <span class="text-blue-600 font-normal text-base"><%= videos[i].audienceMinAge %> -
                                <%= videos[i].audienceMaxAge %> Year</span>
                            <h1 class="text-xl py-2"><%= videos[i].title %></h1>
                            <p class="flex-1 font-light text-gray-700 text-justify line-clamp-3">
                                <%= videos[i].description %></p>
                            <a href="/company/video/<%= videos[i].videoId %>"
                                class="mx-auto text-center w-full lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                Statistics & Details
                            </a>
                        </div>

                    </div><% } %>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>